 <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
             <button type="button" class="btn btn-success">New Course <i class="fa fa-plus-square-o 
              "></i></button>
          </div>
            <div class="btn-group mr-2">
             <button type="button" class="btn btn-info">Refresh<i class="fa fa-refresh"></i></button>
          </div>
            <div class="btn-group mr-2">

             <button type="button" class="btn btn-info">Export <i class="far fa-upload"></i></button>
           </div>
             <div class="btn-group px-3">
                <input type="text" placeholder="Search..">
             </div>
            <span data-feather="calendar"></span>
          </button>
        </div>
        <br>