<div class="row">
    <div class="col-md-4">
             <%= link_to '+ Add New Course', new_course_path, :class =>"btn btn-success", :remote => true %>
   </div>
   <div class="col-md-4">
                  
            <div class="btn-group mr-2">
             <button type="button" class="btn btn-info"><i class="fas fa-sync-alt"></i></button>
             <button type="button" class="btn btn-info"><i class="fas fa-filter"></i></button>
             <button type="button" class="btn btn-info"><i class="fas fa-file-excel"></i></i>Excel</button>
             <button type="button" class="btn btn-info"><i class="fas fa-file-csv"></i>CSV</button>
          </div>
  </div>          

  <div class="col-md-4">
      <div class="input-group md-form form-sm form-2 pl-0">
          <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
          <span class="btn btn-info" id="basic-text1"><i class="fas fa-search "
                aria-hidden="true"></i></span>
       </div>
     </div>
 </div>
  

</div> <br>
